include COPYING
include *.rst
include doc/conf.py
include doc/wordlist.txt
include extra/requirements*.txt
include nose2.cfg
include cupage.py
include cupage/locale/cupage.pot
include cupage/locale/*/LC_MESSAGES/*.mo
include cupage/locale/*/LC_MESSAGES/*.po

include tests/*.py

recursive-include doc *.rst
